body {
  color: #222;
}

.home_icon_div {
  padding-top: 80px;
  background: transparent url(../icons/big_icon.png) no-repeat scroll center center;
  height: 300px;
}

.home_icon_txt {
  font-size: 4em;
  font-weight: bold;
  color: #2f6a9f;
  text-shadow: rgba(255, 255, 255, 0.75) 2px 2px 0;
  margin-bottom: 50px
}

.home_icon_info {
  position: absolute
  top: -100px
  font-size: 1em;
  margin-bottom: 100px;
  font-weight: bold;
  color: #eee
}

fieldset > ul {
    padding: 0px 10px;
}

fieldset > ul > li {
    text-align: left;
    background:#FFFFFF none repeat scroll 0 0;
    position: relative;
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 8px 0 8px 0px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

fieldset > ul > li > a {
    display: block;
    margin: -8px 0 -8px -10px;
    padding: 8px 32px 8px 10px;
    text-decoration: none;
    color: inherit;
    background: url(iui/listArrow.png) no-repeat right center;
}

li img {
  border:medium none;
  float:left;
  margin:4px 8px 0px 0px;
}

.pico {font-size: 0.6em; }
.tiny {font-size: 0.8em; }
  li.tiny img { margin-top: 0px; }

.gray { color: #aaa; }

.green {
    color: #00aa00;
    font-weight: bold;
}
.red {
    color: #aa0000;
    font-weight: bold;
}
.act {
    color: #999900;
    font-weight: bold;
}

.yellowButton,
.greenButton {
    display: block;
    border-width: 0 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    color: inherit;
}

.greenButton {
    -webkit-border-image: url(../iui/greenButton.png) 0 12 0 12;
    color:#fff;
    text-shadow: #007a00 0 -1px 0;
}

.yellowButton {
    -webkit-border-image: url(../iui/yellowButton.png) 0 12 0 12;
    color:#fff;
    text-shadow: #007a7a 0 -1px 0;
}

.code {
  font-size: 14px;
  font-family: Courier;
  color: #33EE33;
  background-color: #222;
  padding-left: 15px;
  white-space: nowrap;
  overflow: auto;
  padding-top: 8px;
}


/* PC */

.right {
    width: 50%;
  float: right;
}