!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  / Source is http://enstyled.com/adminus/original/page.html#
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Adminus â— Page
    %link{:href => "style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "jquery.wysiwyg.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "facebox.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "visualize.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "date_input.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    /[if IE] <meta http-equiv="X-UA-Compatible" content="IE=7" />
    /[if lt IE 8] <style type="text/css" media="all">@import url("css/ie.css");</style>
    /[if IE] <script type="text/javascript" src="/excanvas.js"></script>
    %script{:src => "jquery.js", :type => "text/javascript"}
    %script{:src => "jquery.img.preload.js", :type => "text/javascript"}
    %script{:src => "jquery.filestyle.mini.js", :type => "text/javascript"}
    %script{:src => "jquery.wysiwyg.js", :type => "text/javascript"}
    %script{:src => "jquery.date_input.pack.js", :type => "text/javascript"}
    %script{:src => "facebox.js", :type => "text/javascript"}
    %script{:src => "jquery.visualize.js", :type => "text/javascript"}
    %script{:src => "jquery.select_skin.js", :type => "text/javascript"}
    %script{:src => "jquery.tablesorter.min.js", :type => "text/javascript"}
    %script{:src => "ajaxupload.js", :type => "text/javascript"}
    %script{:src => "jquery.pngfix.js", :type => "text/javascript"}
    %script{:src => "custom.js", :type => "text/javascript"}
  %body
    #hld
      .wrapper
        / wrapper begins
        #header
          .hdrl
          .hdrr
          %h1
            %a{:href => "#"} Cafofs
          %ul#nav
            %li
              %a{:href => "#"} Dashboard
            %li.active
              %a{:href => "#"} Power
              %ul
                %li
                  %a{:href => "#"} List pages
                %li
                  %a{:href => "#"} Add page
                %li
                  %a{:href => "#"} More actions
                  %ul
                    %li
                      %a{:href => "#"} Some action
                    %li
                      %a{:href => "#"} Some action
                    %li
                      %a{:href => "#"} Some action
                      %ul
                        %li
                          %a{:href => "#"} Some action
                        %li
                          %a{:href => "#"} Some action
                        %li
                          %a{:href => "#"} Some action
            %li
              %a{:href => "#"} Sensors
            %li
              %a{:href => "#"} Options
              %ul
                %li
                  %a{:href => "#"} List media
                %li
                  %a{:href => "#"} Add media
                %li
                  %a{:href => "#"} Something else
            %li
              %a{:href => "#"} Users
          %p.user
            Hello,
            %a{:href => "#"} John
            |
            %a{:href => "index.html"} Logout
        / #header ends
        .block
          .block_head
            .bheadl
            .bheadr
            %h2 Web stats
            %ul.tabs
              %li
                %a{:href => "#days"} Per days
              %li
                %a{:href => "#months"} Per months
          / .block_head ends
          #days.block_content.tab_content
            %table.stats{:cellpadding => "0", :cellspacing => "0", :rel => "line", :width => "100%"}
              %thead
                %tr
                  %td &nbsp;
                  %th{:scope => "col"} 01.03
                  %th{:scope => "col"} 02.03
                  %th{:scope => "col"} 03.03
                  %th{:scope => "col"} 04.03
                  %th{:scope => "col"} 05.03
                  %th{:scope => "col"} 06.03
                  %th{:scope => "col"} 07.03
                  %th{:scope => "col"} 08.03
                  %th{:scope => "col"} 09.03
                  %th{:scope => "col"} 10.03
                  %th{:scope => "col"} 11.03
                  %th{:scope => "col"} 12.03
                  %th{:scope => "col"} 13.03
                  %th{:scope => "col"} 14.03
              %tbody
                %tr
                  %th{:scope => "row"} Page views
                  %td 50
                  %td 90
                  %td 40
                  %td 120
                  %td 180
                  %td 280
                  %td 320
                  %td 220
                  %td 100
                  %td 120
                  %td 40
                  %td 70
                  %td 20
                  %td 60
                %tr
                  %th{:scope => "row"} Unique visitors
                  %td 30
                  %td 50
                  %td 15
                  %td 90
                  %td 140
                  %td 160
                  %td 230
                  %td 170
                  %td 50
                  %td 90
                  %td 30
                  %td 50
                  %td 10
                  %td 40
          / .block_content ends
          #months.block_content.tab_content
            %table.stats{:cellpadding => "0", :cellspacing => "0", :rel => "bar", :width => "100%"}
              %thead
                %tr
                  %td &nbsp;
                  %th{:scope => "col"} JAN
                  %th{:scope => "col"} FEB
                  %th{:scope => "col"} MAR
                  %th{:scope => "col"} APR
                  %th{:scope => "col"} MAY
                  %th{:scope => "col"} JUN
                  %th{:scope => "col"} JUL
                  %th{:scope => "col"} AUG
                  %th{:scope => "col"} SEP
                  %th{:scope => "col"} OCT
                  %th{:scope => "col"} NOV
                  %th{:scope => "col"} DEC
                  %th{:scope => "col"} JAN
                  %th{:scope => "col"} FEB
              %tbody
                %tr
                  %th{:scope => "row"} Page views
                  %td 1800
                  %td 900
                  %td 700
                  %td 1200
                  %td 600
                  %td 2800
                  %td 3200
                  %td 500
                  %td 2200
                  %td 1000
                  %td 1200
                  %td 700
                  %td 650
                  %td 800
                %tr
                  %th{:scope => "row"} Unique visitors
                  %td 1600
                  %td 650
                  %td 550
                  %td 900
                  %td 500
                  %td 2300
                  %td 2700
                  %td 350
                  %td 1700
                  %td 600
                  %td 1000
                  %td 500
                  %td 400
                  %td 700
          / .block_content ends
          .bendl
          .bendr
        / .block ends
        .block
          .block_head
            .bheadl
            .bheadr
            %h2 Pages
            %ul
              %li
                %a{:href => "#"} Edit pages
              %li
                %a{:href => "#"} Add page
          / .block_head ends
          .block_content
            %form{:action => "", :method => "post"}
              %table.sortable{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                %thead
                  %tr
                    %th{:width => "10"}
                      %input.check_all{:type => "checkbox"}/
                    %th Page title
                    %th Status
                    %th Date created
                    %th Author
                    %td &nbsp;
                %tbody
                  %tr
                    %td
                      %input{:type => "checkbox"}/
                    %td
                      %a{:href => "#"} Aorem ipsum dolor
                    %td Published
                    %td 20.03.2010
                    %td
                      %a{:href => "#"} John Doe
                    %td.delete
                      %a{:href => "#"} Delete
                  %tr
                    %td
                      %input{:type => "checkbox"}/
                    %td
                      %a{:href => "#"} Zn ac libero nunc, vel congue neque
                    %td Published
                    %td 18.03.2010
                    %td
                      %a{:href => "#"} John Doe
                    %td.delete
                      %a{:href => "#"} Delete
                  %tr
                    %td
                      %input{:type => "checkbox"}/
                    %td
                      %a{:href => "#"} Borem ipsum dolor
                    %td Published
                    %td 20.03.2010
                    %td
                      %a{:href => "#"} John Doe
                    %td.delete
                      %a{:href => "#"} Delete
                  %tr
                    %td
                      %input{:type => "checkbox"}/
                    %td
                      %a{:href => "#"} Aaa In ac libero nunc, vel congue neque
                    %td Published
                    %td 18.03.2010
                    %td
                      %a{:href => "#"} John Doe
                    %td.delete
                      %a{:href => "#"} Delete
                  %tr
                    %td
                      %input{:type => "checkbox"}/
                    %td
                      %a{:href => "#"} Lorem ipsum dolor
                    %td Published
                    %td 20.03.2010
                    %td
                      %a{:href => "#"} John Doe
                    %td.delete
                      %a{:href => "#"} Delete
                  %tr
                    %td
                      %input{:type => "checkbox"}/
                    %td
                      %a{:href => "#"} In ac libero nunc, vel congue neque
                    %td Published
                    %td 18.03.2010
                    %td
                      %a{:href => "#"} John Doe
                    %td.delete
                      %a{:href => "#"} Delete
                  %tr
                    %td
                      %input{:type => "checkbox"}/
                    %td
                      %a{:href => "#"} Lorem ipsum dolor
                    %td Published
                    %td 20.03.2010
                    %td
                      %a{:href => "#"} John Doe
                    %td.delete
                      %a{:href => "#"} Delete
                  %tr
                    %td
                      %input{:type => "checkbox"}/
                    %td
                      %a{:href => "#"} In ac libero nunc, vel congue neque
                    %td Published
                    %td 08.03.2010
                    %td
                      %a{:href => "#"} John Doe
                    %td.delete
                      %a{:href => "#"} Delete
              .tableactions
                %select
                  %option Actions
                  %option Delete
                  %option Edit
                %input.submit.tiny{:type => "submit", :value => "Apply to selected"}/
              / .tableactions ends
              .pagination.right
                %a{:href => "#"} &laquo;
                %a.active{:href => "#"} 1
                %a{:href => "#"} 2
                %a{:href => "#"} 3
                %a{:href => "#"} 4
                %a{:href => "#"} 5
                %a{:href => "#"} 6
                %a{:href => "#"} &raquo;
              / .pagination ends
          / .block_content ends
          .bendl
          .bendr
        / .block ends
        .block
          .block_head
            .bheadl
            .bheadr
            %h2 Forms
            %form{:action => "", :method => "post"}
              %input.text{:type => "text", :value => "Search"}/
          / .block_head ends
          .block_content
            .message.errormsg
              %p An error message goes here
            .message.success
              %p A success message goes here
            .message.info
              %p An informative message goes here
            .message.warning
              %p A warning message goes here
            %form{:action => "", :method => "post"}
              %p
                %label Small input label:
                %br/
                %input.text.small{:type => "text"}/
                %span.note *A note
              %p
                %label Medium input label:
                %br/
                %input.text.medium.error{:type => "text"}/
                %span.note.error Error!
              %p
                %label Big input label:
                %br/
                %input.text.big{:type => "text"}/
              %p
                %label Textarea label:
                %br/
                %textarea.wysiwyg
              %p
                %label Starting date:
                %input.text.date_picker{:type => "text"}/
                \&nbsp;&nbsp;
                %label Ending date:
                %input.text.date_picker{:type => "text"}/
              %p
                %label Select label:
                %br/
                %select.styled
                  %optgroup{:label => "Group 1"}
                    %option Option one
                    %option Option two
                    %option Option three
                  %optgroup{:label => "Group 2"}
                    %option Option one
                    %option Option two
                    %option Option three
                  %optgroup{:label => "Group 3"}
                    %option Option one
                    %option Option two
                    %option Option three
              %p.fileupload
                %label File input label:
                %br/
                %input#fileupload{:type => "file"}/
                %span#uploadmsg Max size 3Mb
              %p
                %input#cbdemo1.checkbox{:checked => "checked", :type => "checkbox"}/
                %label{:for => "cbdemo1"} Checkbox label
                %input#cbdemo2.checkbox{:type => "checkbox"}/
                %label{:for => "cbdemo2"} Checkbox label
              %p
                %input.radio{:checked => "checked", :type => "radio"}/
                %label Radio button label
              %hr/
              %p
                %input.submit.small{:type => "submit", :value => "Submit"}/
                %input.submit.mid{:type => "submit", :value => "Long submit"}/
                %input.submit.long{:type => "submit", :value => "Even longer submit"}/
          / .block_content ends
          .bendl
          .bendr
        / .block ends
        .block.small.left
          .block_head
            .bheadl
            .bheadr
            %h2 Left column
          / .block_head ends
          .block_content
            %form{:action => "", :method => "post"}
              %p
                %label Small input label:
                %br/
                %input.text{:type => "text"}/
              %p
                %label Text area label:
                %br/
                %textarea{:cols => "50", :rows => "5"}
              %p Praesent justo risus, suscipit eget volutpat ac, fermentum ac.
              %p
                %input.submit.small{:type => "submit", :value => "Submit"}/
          / .block_content ends
          .bendl
          .bendr
        / .block.small.left ends
        .block.small.right
          .block_head
            .bheadl
            .bheadr
            %h2 Right column
          / .block_head ends
          .block_content
            %h2 Headline
            %p
              Quisque felis nunc,
              %a{:href => "demo", :rel => "facebox"} open modal
              lacinia at, viverra sit amet ligula. Praesent justo risus, suscipit eget volutpat ac, fermentum ac massa. Sed at justo velit. Maecenas dapibus sem nec quam cursus.
            %h3 Headline
            %ul
              %li Proin volutpat
              %li Praesent justo risus, suscipit eget
              %li Morbi facilisis felis ac sapien
            %h4 Headline
            %ol
              %li Proin volutpat
              %li Praesent justo risus, suscipit eget
              %li Morbi facilisis felis ac sapien
          / .block_content ends
          .bendl
          .bendr
        / .block.small.right ends
        .block
          .block_head
            .bheadl
            .bheadr
            %h2 Big text box with tabs
            %ul.tabs
              %li
                %a{:href => "#tab1"} Tab 1
              %li
                %a{:href => "#tab2"} Tab 2
          / .block_head ends
          #tab1.block_content.tab_content
            %h3 This is the first tab
            %p Maecenas facilisis interdum rhoncus. Sed laoreet vulputate lacus sit amet aliquam. Praesent vitae sapien orci. Mauris nec purus in mi accumsan convallis non et lorem. Nunc tincidunt consequat risus, ac tincidunt nibh hendrerit at. Nullam sit amet nisi eget magna lacinia ullamcorper non sed sem. Ut ornare consequat commodo. Donec vitae justo risus. Nulla ornare posuere egestas. Nulla varius purus quis lacus placerat tincidunt.
          / .block_content ends
          #tab2.block_content.tab_content
            %h3 This is the second tab
            %p Praesent vitae sapien orci. Mauris nec purus in mi accumsan convallis non et lorem. Nunc tincidunt consequat risus, ac tincidunt nibh hendrerit at. Nullam sit amet nisi eget magna lacinia ullamcorper non sed sem. Ut ornare consequat commodo. Donec vitae justo risus. Nulla ornare posuere egestas. Nulla varius purus quis lacus placerat tincidunt. Maecenas facilisis interdum rhoncus. Sed laoreet vulputate lacus sit amet aliquam.
          / .block_content ends
          .bendl
          .bendr
        / .block ends
        .block.huge.left
          .block_head
            .bheadl
            .bheadr
            %h2 Left column
          / .block_head ends
          .block_content
            %form{:action => "", :method => "post"}
              %p
                %label Small input label:
                %br/
                %input.text{:type => "text"}/
              %p
                %label Text area label:
                %br/
                %textarea{:cols => "50", :rows => "5"}
              %p Praesent justo risus, suscipit eget volutpat ac, fermentum ac.
              %p
                %input.submit.small{:type => "submit", :value => "Submit"}/
          / .block_content ends
          .bendl
          .bendr
        / .block.small.left ends
        .block.tiny.right
          .block_head
            .bheadl
            .bheadr
            %h2 Right column
          / .block_head ends
          .block_content
            %h2 Headline
            %p
              Quisque felis nunc,
              %a{:href => "demo", :rel => "facebox"} open modal
              lacinia at, viverra sit amet ligula. Praesent justo risus, suscipit eget volutpat ac, fermentum ac massa. Sed at justo velit. Maecenas dapibus sem nec quam cursus.
            %h3 Headline
            %ul
              %li Proin volutpat
              %li Praesent justo risus, suscipit eget
              %li Morbi facilisis felis ac sapien
            %h4 Headline
            %ol
              %li Proin volutpat
              %li Praesent justo risus, suscipit eget
              %li Morbi facilisis felis ac sapien
          / .block_content ends
          .bendl
          .bendr
        / .block.small.right ends
        .block.withsidebar
          .block_head
            .bheadl
            .bheadr
            %h2 Big text box with sidebar
          / .block_head ends
          .block_content
            .sidebar
              %ul.sidemenu
                %li
                  %a{:href => "#sb1"} Subpage one
                %li
                  %a{:href => "#sb2"} Subpage two
                %li
                  %a{:href => "#sb3"} Subpage three
              %p
                %strong Some notification text.
                Donec hendrerit porttitor felis, id semper eros lobortis sed. Class aptent taciti sociosqu ad litora.
            / .sidebar ends
            #sb1.sidebar_content
              %h3 Sidebar content 1
              %p Aenean facilisis ligula eget orci adipiscing varius. Curabitur sem ligula, egestas vel bibendum sed, sodales eu nulla. Vestibulum luctus aliquam feugiat. Donec porta interdum placerat. Donec velit enim, porta vitae euismod ut, fermentum eu felis. Morbi aliquet, libero vel gravida facilisis, enim risus consequat tellus, vitae luctus est diam non nisi. Vivamus eget leo sit amet neque ultricies blandit. Sed tristique erat a sem ullamcorper tempor. Curabitur turpis lorem, semper et pharetra in, scelerisque in magna. Ut at tortor sed diam mattis rhoncus vel eget turpis. Praesent id diam velit, ullamcorper semper augue. Curabitur at orci tellus, sed tincidunt enim. Vivamus sed dolor vitae purus dignissim luctus quis sed nunc. Sed urna enim, auctor sit amet volutpat ut, porta sed leo. Integer dictum molestie elementum. Nullam dapibus tempus enim, id tincidunt arcu elementum varius.
              %p Integer malesuada posuere nibh, ac commodo eros dictum eget. Maecenas vel urna ac sapien posuere tincidunt vel non metus. Morbi accumsan lectus at ante scelerisque molestie. Pellentesque in quam arcu, in lacinia orci. Sed blandit, neque sed ullamcorper lacinia, velit lectus lacinia lorem, id gravida sem arcu vel purus. Aenean tellus massa, elementum id condimentum ut, tempus ac dui. Integer consectetur neque placerat leo adipiscing iaculis. Vivamus tempor dui eu augue malesuada dignissim. In tempor odio eu augue ultricies ut hendrerit.
            / .sidebar_content ends
            #sb2.sidebar_content
              %h3 Sidebar content 2
              %p Integer malesuada posuere nibh, ac commodo eros dictum eget. Maecenas vel urna ac sapien posuere tincidunt vel non metus. Morbi accumsan lectus at ante scelerisque molestie. Pellentesque in quam arcu, in lacinia orci. Sed blandit, neque sed ullamcorper lacinia, velit lectus lacinia lorem, id gravida sem arcu vel purus. Aenean tellus massa, elementum id condimentum ut, tempus ac dui. Integer consectetur neque placerat leo adipiscing iaculis. Vivamus tempor dui eu augue malesuada dignissim. In tempor odio eu augue ultricies ut hendrerit.
              %p Aenean facilisis ligula eget orci adipiscing varius. Curabitur sem ligula, egestas vel bibendum sed, sodales eu nulla. Vestibulum luctus aliquam feugiat. Donec porta interdum placerat. Donec velit enim, porta vitae euismod ut, fermentum eu felis. Morbi aliquet, libero vel gravida facilisis, enim risus consequat tellus, vitae luctus est diam non nisi. Vivamus eget leo sit amet neque ultricies blandit. Sed tristique erat a sem ullamcorper tempor. Curabitur turpis lorem, semper et pharetra in, scelerisque in magna. Ut at tortor sed diam mattis rhoncus vel eget turpis. Praesent id diam velit, ullamcorper semper augue. Curabitur at orci tellus, sed tincidunt enim. Vivamus sed dolor vitae purus dignissim luctus quis sed nunc. Sed urna enim, auctor sit amet volutpat ut, porta sed leo. Integer dictum molestie elementum. Nullam dapibus tempus enim, id tincidunt arcu elementum varius.
            / .sidebar_content ends
            #sb3.sidebar_content
              %h3 Sidebar content 3
              %p Aenean facilisis ligula eget orci adipiscing varius. Curabitur sem ligula, egestas vel bibendum sed, sodales eu nulla. Vestibulum luctus aliquam feugiat. Donec porta interdum placerat. Donec velit enim, porta vitae euismod ut, fermentum eu felis. Morbi aliquet, libero vel gravida facilisis, enim risus consequat tellus, vitae luctus est diam non nisi. Vivamus eget leo sit amet neque ultricies blandit. Sed tristique erat a sem ullamcorper tempor. Curabitur turpis lorem, semper et pharetra in, scelerisque in magna. Ut at tortor sed diam mattis rhoncus vel eget turpis. Praesent id diam velit, ullamcorper semper augue. Curabitur at orci tellus, sed tincidunt enim. Vivamus sed dolor vitae purus dignissim luctus quis sed nunc. Sed urna enim, auctor sit amet volutpat ut, porta sed leo. Integer dictum molestie elementum. Nullam dapibus tempus enim, id tincidunt arcu elementum varius.
              %p Integer malesuada posuere nibh, ac commodo eros dictum eget. Maecenas vel urna ac sapien posuere tincidunt vel non metus. Morbi accumsan lectus at ante scelerisque molestie. Pellentesque in quam arcu, in lacinia orci. Sed blandit, neque sed ullamcorper lacinia, velit lectus lacinia lorem, id gravida sem arcu vel purus. Aenean tellus massa, elementum id condimentum ut, tempus ac dui. Integer consectetur neque placerat leo adipiscing iaculis. Vivamus tempor dui eu augue malesuada dignissim. In tempor odio eu augue ultricies ut hendrerit.
            / .sidebar_content ends
          / .block_content ends
          .bendl
          .bendr
        / .block ends
        .block
          .block_head
            .bheadl
            .bheadr
            %h2 Images
          / .block_head ends
          .block_content
            %ul.imglist
              %li
                %img{:alt => "", :src => "images/thumb1.jpg"}/
                %ul
                  %li.view
                    %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
                  %li.delete
                    %a{:href => "#deleted"} Delete
              %li
                %img{:alt => "", :src => "images/thumb2.jpg"}/
                %ul
                  %li.view
                    %a{:href => "http://farm3.static.flickr.com/2493/4241304118_98ff39d232.jpg", :rel => "facebox"} View
                  %li.delete
                    %a{:href => "#"} Delete
              %li
                %img{:alt => "", :src => "images/thumb3.jpg"}/
                %ul
                  %li.view
                    %a{:href => "http://farm3.static.flickr.com/2662/4241252138_b9c755e9ca.jpg", :rel => "facebox"} View
                  %li.delete
                    %a{:href => "#deleted"} Delete
              %li
                %img{:alt => "", :src => "images/thumb1.jpg"}/
                %ul
                  %li.view
                    %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
                  %li.delete
                    %a{:href => "#deleted"} Delete
              %li
                %img{:alt => "", :src => "images/thumb2.jpg"}/
                %ul
                  %li.view
                    %a{:href => "http://farm3.static.flickr.com/2493/4241304118_98ff39d232.jpg", :rel => "facebox"} View
                  %li.delete
                    %a{:href => "#"} Delete
              %li
                %img{:alt => "", :src => "images/thumb3.jpg"}/
                %ul
                  %li.view
                    %a{:href => "http://farm3.static.flickr.com/2662/4241252138_b9c755e9ca.jpg", :rel => "facebox"} View
                  %li.delete
                    %a{:href => "#deleted"} Delete
              %li
                %img{:alt => "", :src => "images/thumb1.jpg"}/
                %ul
                  %li.view
                    %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
                  %li.delete
                    %a{:href => "#deleted"} Delete
              %li
                %img{:alt => "", :src => "images/thumb2.jpg"}/
                %ul
                  %li.view
                    %a{:href => "http://farm3.static.flickr.com/2493/4241304118_98ff39d232.jpg", :rel => "facebox"} View
                  %li.delete
                    %a{:href => "#"} Delete
              %li
                %img{:alt => "", :src => "images/thumb3.jpg"}/
                %ul
                  %li.view
                    %a{:href => "http://farm3.static.flickr.com/2662/4241252138_b9c755e9ca.jpg", :rel => "facebox"} View
                  %li.delete
                    %a{:href => "#deleted"} Delete
              %li
                %img{:alt => "", :src => "images/thumb1.jpg"}/
                %ul
                  %li.view
                    %a{:href => "http://farm3.static.flickr.com/2646/4240549111_fcb8c478fe.jpg", :rel => "facebox"} View
                  %li.delete
                    %a{:href => "#deleted"} Delete
              %li
                %img{:alt => "", :src => "images/thumb2.jpg"}/
                %ul
                  %li.view
                    %a{:href => "http://farm3.static.flickr.com/2493/4241304118_98ff39d232.jpg", :rel => "facebox"} View
                  %li.delete
                    %a{:href => "#"} Delete
              %li
                %img{:alt => "", :src => "images/thumb3.jpg"}/
                %ul
                  %li.view
                    %a{:href => "http://farm3.static.flickr.com/2662/4241252138_b9c755e9ca.jpg", :rel => "facebox"} View
                  %li.delete
                    %a{:href => "#deleted"} Delete
          / .block_content ends
          .bendl
          .bendr
        / .leftcol ends
        #footer
          %p.left
            %a{:href => "#"} YourWebsite.com
          %p.right
            powered by
            %a{:href => "http://themeforest.net/item/adminus-beautiful-admin-panel-interface/94668?ref=enstyled"} Adminus
            v1.4
      / wrapper ends
    / #hld ends
